extend layout.pug 

block style
    style
        include ../static/style.css 
        include ../static/about.css
block content

    .containerabout  
        h1  About us 
    .about
        h2 About Acadamy 
        br 
        img(src="../static/about image.jpg", alt="")
        h4 Hii  Guys !
        br
        h5 My name is  aliena  and I am the co-founder of this   Dance Acadamy 
        p  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quo incidunt dolorum deserunt facere? Illo id accusantium itaque quis corrupti at quibusdam unde veniam iure, magnam voluptatibus vitae dolorum eos 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae exercitationem aut quos iure voluptates facilis id nam minima, eum et assumenda accusamus tempore odio vero. Maxime nulla deserunt eligendi dolores. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatem eos, obcaecati quaerat suscipit nam dolorem dicta odit, ad nostrum odio fugiat maxime vel quos. Pariatur iure cumque ab a.  
        