extend layout.pug 

block style
    style
        include ../static/style.css 
        include ../static/classinfo.css
block content
    .conatinerclassinfo 
        .cinfo 
            H1 WHAT WE OFFER...
            p We offers a fresh approach to the dance discipline. We provide a comfortable environment where students of all backgrounds and skill levels are able to express themselves creatively while learning the best technique for specific styles of dance.
            .btn 
                button View Shedule 
        .cinfo1 
            #content 
                h2 AFROFUSION
                br
                p This is a fun upbeat style that fuses African dance with other styles such as hip hop, jazz, and contemporary.
                p Black leotard/black sports bra
                p  Black dance short, barefoot
                br
                h2 BALLET
                br
                p Consists of barre and center work. Ballet training is essential to a dancer’s progression. It develops and strengthens muscles, as well as improves coordination and flexibility. 
                p Black leotard
                p  Pink tights (foot-in),Ballet skirt (optional
                br
                h2 HIP-HOP
                br
                p Join this class to sweat, learn the latest dance moves, and high energy FUN! We will explore East Coast, West Coast, and South influences. Hip-Hop has evolved so much, and this class will uncover all styles birthed from it. 
                p Any comfortable clothing Express YOUR creativity and personality
                p  Black dance short, barefoot
                br
                h2 JAZZ
                br
                p A fusion of technique and style with emphasis on stage presence. Jazz consists of warm up, progressions across the floor and combinations. 
                p Black dance shorts/pants
                p  Tan tights (foot-in)
                br
                h2 TECH BOOST
                br
                p A fusion of technique and style with emphasis on stage presence. Jazz consists of warm up, progressions across the floor and combinations. 
                p Black dance shorts/pants
                p  Tan tights (foot-in)
                br
        hR 