doctype html 
html 
    head 
        title Dance Academy 
        style
            include ../static/style.css
    body
      .content  
        nav#navbar
          div#logo
              H1 Dance Academy
          ul 
            li #[a(href="http://localhost:8000/home") Home]
            li #[a(href="http://localhost:8000/About") About]
            li #[a(href="http://localhost:8000/service") Services]
            li #[a(href="http://localhost:8000/classinfo") Class Info]
            li #[a(href="http://localhost:8000/contact") Contact Us]
        div.container 
            .intro 
                h1 Welcome to "
                h2 Classical Dancer  School  Based In India 
                p   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dolor. Fuga doloribus cumque odio blanditiis sapiente, et, fugit asperiores eligendi dolor, sit amet consectetur adipisicing elit. Omnis sint saepe dol Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque dignissimos saepe, perspiciatis quia possimus eveniet hic doloremque recusandae, neque reiciendis necessitatibus itaque suscipit at modi repudiandae expedita culpa laudantium corrupti.
                button Book Now 
            //- .image 
            //-   img(src="../static/img.png", alt="")
      br
      br
      .ser 
        HR 
        .services 
          h1 Services     
        .container1 
            #box1  
              img(src="../static/image4.jpg", alt="")
              h1 Group Dance
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis magni optio blanditiis architecto dolore a mollitia exercitationem illum quam dolores fugiat explicabo odio, reiciendis ullam iusto nobis animi sit reprehenderit
            #box2 
              img(src="../static/image5.jpg", alt="")
              h1 Diffrent  Dance Practise 
              p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, natus, doloremque unde eum beatae quae minima dicta sit quaerat quam earum, vel molestiae sequi. Ipsam explicabo quia autem aut architecto!
            #box3 
              img(src="../static/img4(1).jpg", alt="")
              h1 Easy To Learn
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?
            //- #box3 
            //-   img(src="../static/img2.jpg", alt="")
            //-   h1 Free Demo  
            //-   p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?
            //- #box3 
            //-   img(src="../static/img2.jpg", alt="")
            //-   h1 Free Demo  
            //-   p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?
        hr
        .gallery 
          H1 Gallery 
          .galleryimg 
            #box4 
              img(src="../static/galleryimg1.jpg", alt="")
            #box5  
              img(src="../static/galleryimg2.jpg", alt="")
            #box6  
              img(src="../static/istockphoto-1134374655-612x612.jpg", alt="")
            //- #box6  
            //-   img(src="../static/istockphoto-496707717-612x612-1.jpg", alt="")    
        hr
      footer 
          Copyright &copy; www.DanceAcademy.com. All rights reserved!