extend layout.pug 

block style
    style
        include ../static/style.css 
        include ../static/service.css
block content
        .services 
          h1 Services     
        .container1 
            #box1  
              img(src="../static/image4.jpg", alt="")
              h1 Group Dance
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis magni optio blanditiis architecto dolore a mollitia exercitationem illum quam dolores fugiat explicabo odio, reiciendis ullam iusto nobis animi sit reprehenderit
            #box2 
              img(src="../static/image5.jpg", alt="")
              h1 Diffrent  Dance Practice 
              p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, natus, doloremque unde eum beatae quae minima dicta sit quaerat quam earum, vel molestiae sequi. Ipsam explicabo quia autem aut architecto!
            #box3 
              img(src="../static/img4(1).jpg", alt="")
              h1 Easy To Learn
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?
            #box3 
              img(src="../static/img2.jpg", alt="")
              h1 Diffrent Dance   
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?
            #box3 
              img(src="../static/galleryimg1.jpg", alt="")
              h1 Free Demo  
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?

            #box3 
              img(src="../static/img.PNG", alt="")
              h1 Hip Hop Dance  
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aut quae numquam non officia fuga facilis corporis, vitae, laboriosam consequuntur perferendis molestiae. Nesciunt enim reiciendis pariatur, voluptate fuga praesentium velit?